services:
	-
		class: GW\Value\PHPStan\ArrayValueNotEmptyExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: GW\Value\PHPStan\IterableValueNotEmptyExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
